[importlinter]
root_package = messaging

[importlinter:contract:layers]
name = Clean Architecture layer independence
type = layers
layers =
    messaging.presentation
    messaging.infrastructure
    messaging.application
    messaging.domain
    messaging.core
